MAX_CONCURRENT_REQUESTS=4
DATA_LOCATION="/opt/scenario-manager-api/data"
DATABASE_LOCATION="/opt/ludus/ludus.db"
LUDUS_ADMIN_URL=https://localhost:8081
LUDUS_URL=https://localhost:8080
PROXMOX_URL=https://localhost:8006
PROXMOX_CERT_PATH=/opt/scenario-manager-api/certs                            
PROXMOX_NODE_NAME=ludus
DEPLOY_SLEEP_DURATION_SECONDS=3